body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    height: auto;
    width: 42%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 35px);
    grid-template-rows: repeat(16, 35px);

}

.grid {
    color: white;
    margin: 0px;
    padding: 0px;
    border: 2px solid white;
    /**display: inline-grid;
    grid-template-columns: repeat(16, 1px);
    grid-template-rows: repeat(16, 1px);
}**/
}

.grid.hover {
    background-color: white;
}