html {
    background-color: black;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}

h1 {
    color: white;
    height: fit-content;
    width: fit-content;
}

.container {
    position: relative;
    top: 5vh;
    left: 15vw;
    height: 90vh;
    width: 60vw;
    border: 2px solid white;
    display: grid;
    /**grid-template-columns: repeat(16, 35px);
    grid-template-rows: repeat(16, 35px);**/
}

.grid {
    border: 0.5px solid white;
}

.grid.hover {
    background-color: white;
}

/**button {
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 80px;
    position: relative;
    right: 75vw;
    top: 30vh;
}
button {
    background-color: aquamarine;
}**/
.buttons {
    padding: 5px;
    height: 30vh;
    width: 20vw;
    border: 1px solid white;
    position: relative;
    right: 75vw;
    top: 30vh;
    display: grid
}

.buttons :hover {
    background-color: azure;
}

.buttons :focus {
    border: 2px solid red;
}




